.name {
  text-align: center;
}

.links {
  justify-content: flex-end;
}

header {
  margin-top: 2em;
}

.card {
	padding: 2em;
	margin-top: 2em;
	border: none;
	min-height: 43em;
	box-shadow: 10px 10px 20px rgba(216, 216, 216, 0.973);
}

a {
	color: black !important;
	font-size: 1.5em;
}

.portrait {
	width: 10em;
	height: 10em;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 10px 10px 20px rgba(179, 179, 179, 0.973);
}

.card-title {
  margin-top: 2em;
}

.card-text {
  margin-top: 1em;
}

.card-action {
  margin-top: 1em;
}

